@media screen and (max-width:1400px) {
    /*    SECTION 4*/
    .section_4--container__txt {
        padding: 70px 0 0 70px;
        font-size: 12px;
    }
    .section_4--container__txt p:last-child {
        font-size: 15px;
    }
}

@media screen and (max-width:1200px) {
    /*    SECTION 1*/
    .main__text {
        width: 40%;
        color: white;
        text-align: right;
        margin-top: 150px;
    }
    .main__text h1 {
        font-size: 35px;
        font-weight: 100;
    }
    /*    SECTION 2*/
    .section_2__boxes {
        width: 55%;
    }
    .container--box {
        width: 300px;
    }
    .box {
        width: 140px;
        height: 140px;
    }
    .box__inside {
        width: 140px;
        transform: rotate(-45deg);
        margin-top: 35px;
    }
    .section_2__box {
        width: 40%;
    }
    .section_2__text {
        margin-top: 200px;
    }
    /*    SECTION 4*/
    .section_4--container__txt {
        padding: 60px 0 0 60px;
        font-size: 10px;
    }
    .section_4--container__txt p:last-child {
        font-size: 12px;
    }
}

@media screen and (max-width:990px) {
    /*   HEADER*/
    .logo {
        float: none;
        text-align: center;
        margin-left: 50px;
    }
    .menu {
        float: none;
        margin: auto;
        width: 750px;
    }
    #header--element_menu {
        margin-top: 20px;
        float: none;
        text-align: center;
    }
    #myInput {
        width: 150px;
        height: 42px;
        padding: 0 40px 0 10px;
        background-position: 115px 10px;
    }
    /*    SECTION 1*/
    .main__text {
        width: 100%;
        text-align: center;
    }
    .main__text__button {
        margin: auto;
        float: none;
    }
    /*    SECTION 2*/
    .section_2__text {
        width: 100%;
        float: none;
        margin-top: 0;
        text-align: center;
        padding-top: 50px;
    }
    #section_2 .section_2__text p {
        margin: auto;
    }
    .section_2__boxes {
        width: 100%;
        float: none;
        margin-top: 0;
    }
    /*    SECTION 4*/
    .section_4--container__img {
        float: none;
        width: 100%;
    }
    .section_4--container__txt {
        padding: 50px;
        float: none;
        width: 100%;
        margin-bottom: 50px;
    }
    .section_4--container__txt p {
        width: 100%;
        font-size: 12px;
    }
    .section_4--container__txt p:last-child {
        font-size: 14px;
    }
}

@media screen and (max-width:766px) {
    /*    HEADER */
    .logo {
        margin-left: 30px;
        text-align: left;
    }
    .menu {
        width: auto;
    }
    #header--element_menu {
        margin-top: 0;
    }
    #header--element_menu li {
        display: none;
    }
    #header--element_menu .hideMenu {
        display: block;
    }
    #header--element_menu li {
        float: none;
    }
    .hideMenu {
        position: absolute;
        right: 10px;
        top: 30px;
    }
    #header--element_menu.responsive li {
        display: block;
    }
    #header--element_menu.responsive li a {
        display: block;
        padding: 25px;
        padding-bottom: 25px;
    }
    #myInput {
        margin-top: 50px;
        width: 220px;
        height: 42px;
        background-position: 180px 10px;
    }
}

@media screen and (max-width:630px) {
    /*    SECTION 2*/
    .section_2__boxes {
        margin-top: 50px;
    }
    .container--box {
        width: 200px;
    }
    .box {
        width: 80px;
        height: 80px;
    }
    .box__inside {
        width: 80px;
        margin-top: 20px;
    }
    .box__inside img {
        width: 30%;
    }
    .box__inside p {
        margin-top: 5px;
        font-size: 7px;
    }
}

@media screen and (max-width:390px) {
    /*    SECTION 2*/
    .section_2__boxes {
        margin-top: 10px;
    }
    .container--box {
        width: 150px;
    }
    .box {
        width: 65px;
        height: 65px;
    }
    .box__inside {
        width: 65px;
        margin-top: 20px;
    }
    .box__inside img {
        width: 30%;
    }
    .box__inside p {
        margin-top: 5px;
        font-size: 5px;
    }
}